	<!-- content - close -->
	<!-- footer -->
	<footer>
		<hr>
		
		<a href="https://github.com/pigfly/RMIT-CSIT-RAD/tree/master/2018_S1/assignment2">API</a>
		|
		<a href="/about">About</a>
	</footer>
	<!-- footer - close -->
</body>
</html>