	<!-- header -->
	<header>
		<image src="<%= asset_path('RMIT_News.jpg') %>" class="logo">
		<%= link_to('home', '/') %>
		|
		<%= link_to('comments', '/newcomments') %>
		|
		<% if logged_in? %>
			<%= link_to('submit', '/submit') %>
			|
			<%= session[:account_username] %> - <%= link_to "logout", '/logout', method: :delete %>
		<% else %>
			<%= link_to('login', '/login') %>
		<% end %>
	</header>
	<!-- header - close -->
	
	<!-- content -->