<% content_for :title, 'About' %>
<%= render 'welcome/header' %>
	<section>
		<article>
			<div class="darkGray">Team Member</div>
			<div class="by">Jason Kusuma - s3703557 and Priscilla Eka - s3518845</div>
		</article>
		
		<article>
			<div class="darkGray">Heroku</div>
			<div class="by"><a href="https://vast-woodland-78776.herokuapp.com/">https://vast-woodland-78776.herokuapp.com/</a>
		</article>
		
		<article>
			<div class="darkGray">Bitbucket</div>
			<div class="by"><a href="https://Chronocentrum@bitbucket.org/Chronocentrum/rad_assign_2_group_s3518845_s3703577.git">https://Chronocentrum@bitbucket.org/Chronocentrum/rad_assign_2_group_s3518845_s3703577.git</a></div>
		</article>
		
	</section>
<%= render 'welcome/footer' %>