/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
	padding:20px 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:35px;
}

body{
	font-size:15px;
}

a{
	color:#4e76b1;
	padding:5px;
	font-size:15px;
}

article{
	padding-bottom:30px;
}

hr{
	color:black;
	background-color:black;
	height:2px;
	margin:40px 0px 20px 0px;
}

a.source:link {
    color: black;
		text-decoration: none;
		font-size:15px;
}

a.source:visited {
    color: black;
		text-decoration: none;
		font-size:15px;
}

a.source:hover {
    color: black;
		text-decoration: underline;
		font-size:15px;
}

a.source:active {
    color: black;
		text-decoration: none;
		font-size:15px;
}

a.comment:link {
    color: #aeadad;
		text-decoration: none;
		font-size:15px;
}

a.comment:visited {
    color: #aeadad;
		text-decoration: none;
		font-size:15px;
}

a.comment:hover {
    color: #aeadad;
		text-decoration: underline;
		font-size:15px;
}

a.comment:active {
    color: #aeadad;
		text-decoration: none;
		font-size:15px;
}

header{
	padding-bottom:60px;
}

footer{
	text-align:center;
}

form{
	width:100%;
}

.logo{
	padding-right:100px;
}

.gray{
	color:#aeadad;
}

.darkGray{
	color:#7e7e7e;
}

.center {
	display: flex;
  justify-content: center;
}

.by{
	padding-left:30px;
}

.more{
	margin-top:70px;
	width:50px;
	border: 3px solid black;
	padding: 0px 8px;
	box-shadow: 3px 3px;
}

.formStyle{
	margin-top:0px;
	padding-left:30px;
	padding-bottom:40px;
}


.addSubmittion{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	
	margin-top:25px;
	margin-bottom:20px;
	width:80px;
	border: 3px solid black;
	padding: 4px 8px;
	box-shadow: 3px 3px;
	background-color:white;
}

.addComment{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	
	margin-top:25px;
	margin-bottom:20px;
	width:120px;
	border: 3px solid black;
	padding: 4px 8px;
	box-shadow: 3px 3px;
	background-color:white;
}

.txtFieldGap{
	padding-top: 20px;
}

.txtFieldStyle{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	
	border: 3px solid black;
	width:420px;
	padding:5px;
	margin-left:50px;
}

.txtAreaStyle{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	
	border: 3px solid black;
	height:150px;
	width:650px;
	padding:5px;
}

.txtFieldLoginStyle{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	
	border: 3px solid black;
	width:100px;
	padding:5px;
	margin-left:50px;
	
}
